# Byte-compiled / optimized / DLLs
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/
wheelhouse/

# Installer / pip
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
venv/
ENV/
env/
.venv/
.env/

# PyInstaller
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.pytest_cache/
.noseids
.cache
.mypy_cache/

# PyCharm / IDEs
.idea/
*.iml
.vscode/
.spyderproject
.spyproject
.ropeproject

# Jupyter
.ipynb_checkpoints

# Django / local data
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Sphinx
docs/_build/

# Misc
*.mo
*.pot
*.log
*.sql
*.sqlite3

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
